/*Start Global*/

body {
    font-family: 'Open Sans', sans-serif;
    /*    font-family: 'Raleway', sans-serif;*/
}


/*End Global*/


/* Start Navbar */

.navbar {
    margin-bottom: 0;
    color: #fff;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    color: #fff
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #dedede
}

.navbar.nav-scrolled {
    background: rgba(0, 0, 0, .8);
}

.navbar>.container .navbar-brand {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

.navbar>.container .navbar-brand span {
    color: #ff8b38;
    font-weight: 300
}


/* End Navbar */


/* Start Header */

.header {
    background: url('../images/homePage.jpg') no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.header .overlay {
    background: rgba(0, 0, 0, .52);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.header .content {
    color: #fff;
    margin-top: 25vh;
}

.header .content h1 {
    font-size: 70px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.header .content h1 span {
    color: #ff8b38;
    font-weight: 300;
}

.header .content p.lead {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 0;
}

.header .content hr {
    width: 70px;
    float: left;
    border-top: 1.5px solid #fff;
    margin: 30px 0
}

.header .content p.lorem {
    color: #afafaf;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px
}

.header .content button {
    background: none;
    border: 2px solid #fff;
    padding: 8px 25px;
    margin-top: 30px;
}

.header .content button:hover {
    border: 2px solid #f79956;
    color: #f79956
}

.header form {
    width: 360px;
    background: #fff;
    border-radius: 10px;
    margin-top: 70px;
}

.header form h3 {
    background: #f5f5f5;
    color: #333;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header form h3 span {
    color: #ff8b38
}

.header .form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    display: block;
    width: 80%;
    padding: 45px 10px 15px;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #c1c1c1;
    margin-left: auto;
    margin-right: auto;
    color: #333;
}

.header form .btn {
    border-radius: 0 0 5px 5px;
    margin-top: 45px;
    padding: 15px 0;
    background: #ff8b38
}

.header form .btn:hover {
    color: #fff;
    background: #ff9b51;
}

@media(max-width: 991px) {
    .header {
        text-align: center;
        height: 100%;
    }
    .header .overlay {
        padding-bottom: 50px;
    }
    .header .content {
        margin-top: 60px;
    }
    .header .content hr {
        margin: 30px auto;
        float: none;
    }
    .header form {
        width: 90%;
    }
}


/* End Header */


/* Start Social media */

.social-media {
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: -12px -4px 14px #333;
    -webkit-box-shadow: -12px -4px 14px #333;
    -moz-box-shadow: -12px -4px 14px #333;
    -o-box-shadow: -12px -4px 14px #333;
}

.social-media h4 {
    font-weight: 700;
    margin-bottom: 5px
}

.social-media p {
    color: #86878b
}

.social-media .icon {
    margin-top: 15px;
}

.social-media .icon i {
    color: #ccc;
    padding-right: 32px;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    cursor: pointer;
}

.social-media .icon .fa-facebook:hover {
    color: #3b5998
}

.social-media .icon .fa-twitter:hover {
    color: #1da1f2
}

.social-media .icon .fa-google-plus:hover {
    color: #dd4b39
}

.social-media .icon .fa-github:hover {
    color: #4078c0
}

.social-media .icon .fa-instagram:hover {
    color: #c13584
}

.social-media .icon .fa-linkedin:hover {
    color: #0077b5
}

.social-media .icon .fa-stumbleupon:hover {
    color: #eb4924
}

@media(max-width: 991px) {
    .social-media {
        text-align: center;
    }
    .social-media i {
        width: calc(14.2% - 32px);
        font-size: 20px
    }
}


/* End Social media */


/* Start Tab Section*/

.tab-section {
    background: #f5f5f5;
    padding-top: 100px;
    padding-bottom: 100px;
}

.tab-section li {
    background: #333;
    color: #fff;
    height: 110px;
    line-height: 110px;
    width: 110px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

.tab-section li.selected,
.tab-section li:hover {
    background: #ff8b38;
}

.tab-section .tab-content>div:not(.tab-1) {
    display: none
}

.tab-section h4 {
    font-weight: 700;
    margin-bottom: 35px;
}

.tab-section p {
    color: #86878b;
}

.tab-section button {
    background: #ff8b38;
    color: #fff;
    margin-top: 30px;
    padding: 10px 20px;
}

.tab-section button:hover {
    background: #f79956;
    color: #fff;
}

.tab-section img {
    margin-top: 30px;
}

@media(max-width: 991px) {
    .tab-section {
        text-align: center;
        padding-top: 20px
    }
    .tab-section li {
        width: 33.33333%;
        float: left;
        border-right: 1px solid #fff;
        border-bottom: 0;
        margin-bottom: 15px;
    }
}


/* End Tab Section*/


/* Start Sub-list Section */

.sub-list {
    margin-top: 100px;
    margin-bottom: 100px;
}

.sub-list img {
    margin-top: 40px;
    box-shadow: 0px 0px 57px #a2a2a2;
    ;
    -webkit-box-shadow: 0px 0px 57px #a2a2a2;
    ;
    -moz-box-shadow: 0px 0px 57px #a2a2a2;
    ;
    -o-box-shadow: 0px 0px 57px #a2a2a2;
    ;
}

.sub-list .content>h4 {
    font-weight: 700;
    margin-bottom: 0;
}

.sub-list hr {
    border-top: 2px solid #ff8b38;
    width: 70px;
    float: left;
}

.sub-list p {
    color: #86878b;
}

.sub-list .media i {
    color: #ff8b38;
    border: 2px solid #ff8b38;
    border-radius: 50%;
    padding: 10px;
    line-height: 100%;
    margin-top: 15px;
    margin-right: 15px
}

@media(max-width: 991px) {
    .sub-list {
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center
    }
    .sub-list img {
        margin-top: 0;
        margin-bottom: 30px;
        box-shadow: 0px 0px 20px #a2a2a2;
        ;
        -webkit-box-shadow: 0px 0px 20px #a2a2a2;
        ;
        -moz-box-shadow: 0px 0px 20px #a2a2a2;
        ;
        -o-box-shadow: 0px 0px 20px #a2a2a2;
        ;
    }
    .sub-list hr {
        float: none;
        margin-left: auto
    }
    .sub-list .media {
        text-align: left
    }
    .sub-list .media i {
        margin-right: 10px;
        margin-top: 10px;
    }
}


/* End Sub-list Section */


/* Start Stander-pic Section */

.Stander-pic {
    background: #f5f5f5;
    padding-top: 100px;
    padding-bottom: 100px;
}

.Stander-pic img {
    box-shadow: 0px 0px 57px #a2a2a2;
    ;
    -webkit-box-shadow: 0px 0px 57px #a2a2a2;
    ;
    -moz-box-shadow: 0px 0px 57px #a2a2a2;
    ;
    -o-box-shadow: 0px 0px 57px #a2a2a2;
    ;
}

.Stander-pic .content>h4 {
    font-weight: 700;
    margin-bottom: 0;
}

.Stander-pic hr {
    border-top: 2px solid #ff8b38;
    width: 70px;
    float: left;
}

.Stander-pic p {
    color: #86878b;
}

@media(max-width: 991px) {
    .Stander-pic {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center
    }
    .Stander-pic img {
        margin-top: 0;
        margin-bottom: 30px;
        box-shadow: 0px 0px 20px #a2a2a2;
        ;
        -webkit-box-shadow: 0px 0px 20px #a2a2a2;
        ;
        -moz-box-shadow: 0px 0px 20px #a2a2a2;
        ;
        -o-box-shadow: 0px 0px 20px #a2a2a2;
        ;
    }
    .Stander-pic hr {
        float: none;
        margin-left: auto
    }
}


/* End Stander-pic Section */


/* Start Features Section */

.features {
    margin-top: 100px;
    margin-bottom: 100px;
}

.features h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 40px
}

.features hr {
    border-top: 2px solid #ff8b38;
    width: 70px;
}

.features p {
    color: #86878b;
}

.features .content {
    margin-top: 60px
}

.features .content i {
    color: #ff8b38;
    border: 2px solid #ff8b38;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
}

.features .content .fa-keyboard-o {
    line-height: 73px;
}

.features .content h4 {
    font-weight: 700;
    margin: 25px 0;
}


/* End Features Section */


/* Start Price-plan Section */

.price-plan {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #f5f5f5;
}

.price-plan h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 40px
}

.price-plan hr {
    border-top: 2px solid #ff8b38;
    width: 70px;
}

.price-plan p {
    color: #86878b;
    margin-bottom: 70px;
}

.price-plan .price {
    background: #333;
    color: #fff;
}

.price-plan .custom {
    margin-top: -30px;
}

.price-plan .price h4 {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 700;
    border-bottom: 1px solid #f5f5f5;
}

.price-plan .price>p {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0;
}

.price-plan .price .description {
    color: #a7a7a7;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 15px;
    display: inline-block;
    font-weight: 700;
    font-style: italic
}

.price-plan .price p span {
    font-size: 90px;
}

.price-plan .price .break {
    min-height: 5px;
    background: #ff8b38;
}

.price-plan .price .break h5 {
    margin: 0;
    padding: 10px 0;
    font-weight: 700
}

.price-plan .price ul {
    padding-top: 10px;
    background: #fff;
    color: #86878b
}

.price-plan .price ul li {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #f5f5f5
}

@media(max-width: 991px) {
    .price-plan {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .price-plan .price {
        margin-bottom: 50px
    }
    .price-plan .custom {
        margin-top: 0
    }
}


/* Start Price-plan Section */


/* Start Features Section */

.testemonial {
    margin-top: 100px;
    margin-bottom: 100px;
}

.testemonial h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 40px
}

.testemonial hr {
    border-top: 2px solid #ff8b38;
    width: 70px;
}

.testemonial p {
    color: #86878b;
}

.testemonial .content {
    margin-top: 60px
}

.testemonial .content .client-say {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.testemonial .content .client-say:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 15px 15px;
    border-color: #f5f5f5 transparent transparent transparent;
    position: absolute;
    top: 119px;
    left: 19px;
}

.testemonial .content .media {
    margin-top: 25px
}

.testemonial .content h4 {
    font-weight: 700;
    margin: 25px 0;
    margin-bottom: 5px;
    margin-top: 15px;
}

@media(max-width: 991px) {
    .testemonial {
        margin-top: 50px;
        margin-bottom: 100px;
    }
}


/* End Features Section */


/*Start Stlish Section*/

.stylish {
    background: url('../images/u25_state0.jpg') no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.stylish .overlay {
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgba(0, 0, 0, .6);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.stylish h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #fff
}

.stylish hr {
    border-top: 2px solid #fff;
    width: 70px;
}

.stylish p {
    color: #c5c6c3;
    padding-top: 10px;
}

.stylish button {
    background: none;
    border: 2px solid #fff;
    padding: 8px 25px;
    margin-top: 30px;
    color: #fff
}

.stylish button:hover {
    cursor: pointer;
}


/*End Stlish Section*/


/* Start contact-us section */

.contact {
    margin-top: 100px;
    margin-bottom: 100px;
}

.contact h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 40px
}

.contact hr {
    border-top: 2px solid #ff8b38;
    width: 70px;
}

.contact p {
    color: #86878b;
}

.contact .form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    display: block;
    width: 80%;
    padding: 45px 10px 15px;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #c1c1c1;
    margin-left: auto;
    margin-right: auto;
    color: #333;
}

.contact form textarea {
    height: 183px;
    resize: none;
}

.contact form .btn {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 45px;
    padding: 15px;
    background: #ff8b38;
    color: #fff;
}

.contact form .btn:hover {
    color: #fff;
    background: #ff9b51;
}

@media(max-width: 991px) {
    .contact {
    margin-top: 50px;
    margin-bottom: 50px;
}
}


/* End contact-us section */


/* Start Footer */

.footer {
    background: #000;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer .icon i {
    color: #ccc;
    margin-right: 20px;
}

.footer .icon i:hover {
    cursor: pointer;
    color: #fff
}

.footer p {
    color: #ccc;
    padding-top: 15px;
    margin-bottom: 0
}

@media(max-width: 991px) {
    .footer .icon i {
        width: calc(14.2% - 24px)
    }
}

/* End Footer */


/* Start My Freamwore */

.upper-case {
    text-transform: uppercase;
}


/* End My Freamwore */
